[SddmGreeterTheme]
Name=osaka09-sddm-theme
Description=Osaka '09 login screen theme for SDDM.
Author=viztini
License=MIT
Type=sddm-theme
Version=1
Website=https://github.com/viztini/Osaka-09-SDDM
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Email=viztini@proton.me
Theme-Id=osaka09-sddm-theme
Theme-API=2.0
QtVersion=6
